* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(207, 205, 205, 0.649);
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.wrapper__form {
    max-width: 75rem;
    margin: 0px auto;
    padding: 1rem 1rem;
}

.title {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    padding: 2rem;
    color: #000000cb;
}

.form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
}

.form__elementBox {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.nameUser {
    width: 20rem;
    height: 2rem;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.797);
    outline: none;
    padding: 0 1rem;
}

#start {
    width: 20rem;
    height: 2rem;
    border-radius: 3px;
    background: #3C790A;
    color: white;
    border: #3C790A;
}

.form__istruct {
    width: 100%;
}

.form__istructText {
    text-align: center;
    margin-bottom: 2rem;
}

.form__istructImg {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 2rem;
}

img {
    vertical-align: top;
    max-width: 100%;
}

._hidden {
    display: none;
}

.form__fieldset {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.797);
    border-radius: 3px;
    background-color: white;
    padding: 1rem;
    margin: 10px 0;
    display: none;
    position: relative;
}

.question {
    font-weight: 800;
}

.list {
    list-style-type: none;
}

.form__tick,
.form__xmark {
    position: absolute;
    right: 2%;
    bottom: 5%;
}

.form__tick i {
    color: #3C790A;
    font-size: 30px;
}

.form__xmark i {
    color: #de0d0d;
    font-size: 30px;
}

li {
    margin-left: 2rem;
}

li:first-child {
    margin-top: 1.5rem;
}

li input[type='radio'],
li input[type='checkbox'] {
    accent-color: black;
}

.question {
    font-weight: 700;
    font-size: 1rem;
    color: #000000cb;
}

.timer {
    position: fixed;
    top: 2rem;
    right: 10%;
    font-size: 1.5rem;
    color: #3C790A;
    padding: 1.5rem;
    background: white;
    border-radius: 15%;
    font-weight: 700;
}

.number {
    font-weight: 600;
    font-size: 1rem;
    border-radius: 25%;
    padding: 1px 8px;
    background: #3C790A;
    color: white;
}

.markBlock {
    font-weight: 700;
    display: none;
}

#result {
    width: 20rem;
    height: 2rem;
    background: #3C790A;
    color: white;
    border: #3C790A;
    border-radius: 3px;
    display: none;
}

._active {
    display: block !important;
}

#start:hover,
#result:hover {
    cursor: pointer;
    background: rgb(24, 78, 24);
}

#start:disabled,
#result:disabled {
    background: rgba(128, 128, 128, 0.797);
    color: black;
}

@media all and (max-width: 768px) {
    .form {
        width: 85%;
    }
    .nameUser,
    #start,
    #result {
        width: 15rem;
    }
    .form__elementBox {
        flex-direction: column;
        gap: 1.5rem;
        margin: 1.5rem auto;
    }
    
    .form__fieldset {
        padding-bottom: 3rem;
    }
    li input[type='radio'],
    li input[type='checkbox'] {
        width: 10%;
        height: 2em;
        vertical-align: middle;
    }
    .timer {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 3rem;
        padding: 0.5rem;
        z-index: 3;
        border-radius: 0;
        text-align: center;
    }
}